body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#name {
    color: green;
    font-weight: bold;
    margin: 10px 0;
}

#career {
    border: 1px solid black;
    border-radius: 8px;
    padding: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 8px;
    text-align: left;
}

footer {
    margin-top: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.container {
    padding: 16px;
}
input, textarea {
    border: 1px solid rgb(193, 193, 224);
    border-radius: 4px;
}