html, body {
    margin: 0;
}
.main-container {
    padding-left: 10px;
    padding-top: 2px;
    padding-right: 10px;
}
.header {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    height: 45px;
}
.border {
    background-color: bisque;
    border: 1px solid rgb(158, 47, 47);
    border-radius: 6px;
}
.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle {
    width: 50%;
}
.content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    height: 160px;
}
.left {
    width: 40%;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right {
    width: 60%;
    background-color: aqua;
}
.profile {
    width: 30%;
}
/*.header-content {
    font-size: 20px;
    font-weight: bold;
    color: brown;
}*/

.lower-row {
    background-color: #F7890C;
    margin-top: 10px;
    padding-left: 5px;
    display: flex;
    gap: 10px;
    height: 200px;
}

.lower-left{
    border: 1px solid red;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lower-right {
    border: 1px solid red;
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.lower-right section {
    border: 1px solid yellow;
    height: 50px;
    display: flex;
    align-items: center;
}